# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Electron / Build
dist/
out/
build/
release/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.swp

# App Specific
velodesk_config.json
*.log
